.cont_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cont {
    /* border: 2px solid red; */
    margin: 2em;
}

.cont_img {
    width: 30%;
    margin-top: 3em;
}

.cont_center {
    display: flex;
    justify-content: center;
    border-bottom: 2px dotted black;

}

.cont3 {
    padding-left: 2em;
}