.home_img {
    width: 95em;
}

.home_img1 {
    width: 35em;
    margin: 5em 3em 5em 10em;
    border: 2px solid black;
}

.home_p1 {
    margin: 10em 10em 5em 3em;
}

.home_p2 {
    font-size: larger;
}

.flex {
    display: flex;
}

.home_1 {
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.column {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.row {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
}

.home_p3 {
    margin: 3em 10em 3em 10em;

}

.home_icon {
    width: 5em;
    border: 4px solid navy;
    border-radius: 50%;
    padding: 0em;
    background-color: lightcyan;
}

.home_icon1 {
    margin-left: 5em;
}

.home_icon2 {
    margin-left: 4em;
}

.home_icon3 {
    margin-left: 2.5em;
}

.home_icon4 {
    margin-left: 4em;
}

.home_icons {
    background-color: rgba(119, 136, 153, 0.727);
    padding: 3em 0em 12em 0em;
}

.center {
    /* border: 2px solid red; */
    padding: 0em 1em 0em 1em;
    color: lightcyan;
}

.home_title {
    text-align: center;
}

.home_projects {
    /* border: 6px solid red; */
    justify-content: center;
    background-color: black;
}

.home_project1 {
    width: 15em;
    height: 15em;
    margin: .5em;
    /* border: 2px solid blue; */
}